body {
  background-color: #29526D;
}

.banner__container {
  background-color: #486F88;
  border: 1px solid #000000;
  border-bottom: 0px;
  border-radius: 0px;
  text-align: center;
}

.banner__img {
  float: left;
  height: 184px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.banner__img:after {
  clear: both;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: 20px;
}

.banner__h1 {
  color: #991F00;
  font-size: 2.5em;
  margin-bottom: 75px;
  margin-top: 25px;
}

.banner__link {
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 25px;
}

.content {
  height: 850px;
  background-color: #123752;
  border: 1px solid #000000;
  border-radius: 0px;
  font-color: #000000;
}

.content__text {
  background-color: #486F88;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1.3em;
  line-height: 150%;
  margin-top: 15px;
  padding: 10px;
  text-indent: 20px;
  white-space: pre-line;
}

.content__calculator {
  background-color: #486F88;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 300px;
  line-height: 150%;
  margin-top: 25px;
  padding-top: 25px;
  text-align: center;
}

.content__calculator__legend {
  color: #991F00;
  font-size: 1.7em;
  font-weight: bolder;
  margin: 10px;
}

.content__calculator__text {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.content__calculator__button {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 20px;
}

.content__map {
  height: 350px;
  width: 350px;
}

.figure__img--founder {
  height: 400px;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 15px;
}

.figure__figcaption--founder {
  color: #ffffcc;
  font-size: 1.3em;
  text-align: center;
}

.article__img--map {
  border: 1px #000000 solid;
  border-radius: 5px;
  float: ;left;
  height: 300px;
  margin-right: 15px;
  margin-top: 25px;
  width: 350px;
}

.article__img--map {
  clear: both;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: 20px;
}
